<%- include('partials/header') %>
    <main>
        <h2>
            <%= title %>
        </h2>
        <p>
            <%= message %>
        </p>
        <ul >
            <% users.forEach(user=> { %>
                <li>
                    <%= user.name %> (Age: <%= user.age %>)
                </li>
                <% }); %>
        </ul>
    </main>
    <%- include('partials/footer') %>